<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<h1>Welcome to Ruby Notes <%= @user.email %>!</h1>

<h2 style="color: green !important">List of Books</h2>

<% if @books.empty? %>
<h4>No books yet!</h4>
<% end %>
<table class="table table-bordered container col-md-5">
<tbody>
  <% @books.each do |book| %>
  <tr>
    <td><%= book.name %></td>
  </tr>
  <% end %>
</tbody>
</table>

<br>

<%= link_to 'See Books Table', user_books_path(current_user) %>
<%= link_to 'Export All Notes', user_export_all_notes_path(@user)%>