<p id="notice"><%= notice %></p>

<h1>Book: <%= @book.name %> </h1>

<h2 style="color: green !important">List of Notes</h2>
<p>
  <% if @book.notes.empty? %>
  <h4>No notes yet!</h4>
  <% end %>
  <ul class="ul-listof">
    <% @book.notes.each do |note| %>
      <li>
        <%= note %>
      </li>
    <% end  %>
  </ul>
</p>

<%= link_to 'Notes Details', user_book_notes_path(@user, @book) %>
<br>
<br>

<%= link_to 'Edit', edit_user_book_path(@user, @book) %> |
<%= link_to 'Back', user_books_path %>
