<p id="notice"><%= notice %></p>

<h1>Notes of book: <%= @book.name %></h1>

<table class="table table-hover table-bordered container">
  <thead>
    <tr>
      <th scope="col">Note ID</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.id %></td>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= link_to 'Show', [@user, @book, note] %></td>
        <td><%= link_to 'Edit', edit_user_book_note_path(@user, @book, note) %></td>
        <td><%= link_to 'Destroy', [@user, @book, note], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_user_book_note_path(@book) %>
<%= link_to 'Back', user_book_path(@user, @book) %>