<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<h1>Welcome to Ruby Notes <%= @user.email %>!</h1>

<h2 style="color: green !important">List of Books</h2>
<p>
  <% if @books.empty? %>
  <h4>No books yet!</h4>
  <% end %>
  <ul class="ul-listof">
    <% @books.each do |book| %>
      <li>
        <%= book %>
      </li>
    <% end  %>
  </ul>
</p>


<br>

<%= link_to 'See Books Table', user_books_path(current_user) %>